In [2]:
import pandas as pd
pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [3]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [4]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [5]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
pd.Series(['1', '2', '3', '4', '5'])

0    1
1    2
2    3
3    4
4    5
dtype: object

In [7]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [9]:
a

80

In [10]:
type(a)

int

In [11]:
mi_sueldo = 2000
mi_impuesto=0.2
sueldo_liquido = mi_sueldo * mi_impuesto

In [12]:
sueldo_liquido

400.0

In [13]:
sueldo_liquido = mi_sueldo - (mi_sueldo * mi_impuesto)
print(sueldo_liquido)

1600.0

In [17]:
stringmio = "piñera ql "

In [15]:
stringmio

'piñera ql'

In [18]:
stringmio * 10

'piñera ql piñera ql piñera ql piñera ql piñera ql piñera ql piñera ql piñera ql piñera ql piñera ql '

In [19]:
'2' + '3'

'23'

In [20]:
suma= '2' + '3'

In [21]:
suma

'23'

In [23]:
suma

'23'

In [24]:
suma + '5'

'235'

In [25]:
stringmio.upper()

'PIÑERA QL '