In [87]:
import pandas as pd

brazuca_file_path = 'Downloads/houses_to_rent.csv'

brazuca_data = pd.read_csv(brazuca_file_path) 

brazuca_data.describe()

,Unnamed: 0,city,area,rooms,bathroom,parking spaces,fire insurance,total
count,6080.00000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000,6080.000000
mean,3039.50000,0.863322,151.143914,2.492599,2.341612,1.756250,58.204276,6033.194572
std,1755.28915,0.343535,375.559485,1.129665,1.438860,1.611909,49.313441,8751.347700
min,0.00000,0.000000,10.000000,1.000000,1.000000,0.000000,3.000000,660.000000
25%,1519.75000,1.000000,58.000000,2.000000,1.000000,1.000000,23.000000,2451.500000
50%,3039.50000,1.000000,100.000000,3.000000,2.000000,1.000000,41.000000,4128.500000
75%,4559.25000,1.000000,200.000000,3.000000,3.000000,2.000000,77.000000,8074.000000
max,6079.00000,1.000000,24606.000000,10.000000,10.000000,12.000000,677.000000,372700.000000

In [4]:
ls

Applications/         LPTHW.ipynb           Untitled1.ipynb
COVID-19 Chile.ipynb  Library/              Untitled2.ipynb
Desktop/              Movies/               Untitled3.ipynb
Documents/            Music/                Untitled4.ipynb
Downloads/            NotebookLP.ipynb      Untitled5.ipynb
Exercises.ipynb       Pictures/             miarchivo.txt
Kagle ML.ipynb        Public/

In [88]:
brazuca_data.columns

Index(['Unnamed: 0', 'city', 'area', 'rooms', 'bathroom', 'parking spaces',
       'floor', 'animal', 'furniture', 'hoa', 'rent amount', 'property tax',
       'fire insurance', 'total'],
      dtype='object')

In [89]:
brazuca_data = brazuca_data.dropna(axis=0)

In [90]:
y = brazuca_data.total

In [91]:
brazuca_features = ['city','area','rooms','bathroom','parking spaces']

In [92]:
X = brazuca_data[brazuca_features]

In [93]:
X.describe()

              city          area        rooms     bathroom  parking spaces
count  6080.000000   6080.000000  6080.000000  6080.000000     6080.000000
mean      0.863322    151.143914     2.492599     2.341612        1.756250
std       0.343535    375.559485     1.129665     1.438860        1.611909
min       0.000000     10.000000     1.000000     1.000000        0.000000
25%       1.000000     58.000000     2.000000     1.000000        1.000000
50%       1.000000    100.000000     3.000000     2.000000        1.000000
75%       1.000000    200.000000     3.000000     3.000000        2.000000
max       1.000000  24606.000000    10.000000    10.000000       12.000000

In [94]:
X.head()

   city  area  rooms  bathroom  parking spaces
0     1   240      3         3               4
1     0    64      2         1               1
2     1   443      5         5               4
3     1    73      2         2               1
4     1    19      1         1               0

In [95]:
from sklearn.tree import DecisionTreeRegressor
#Define my model
brazuca_model = DecisionTreeRegressor(random_state=1)
#Fit the model
brazuca_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=1, splitter='best')

In [96]:
print("Making predictions for the following 5 houses:")
print(X.head())
print("The predictions are:")
print(brazuca_model.predict(X.head()))

Making predictions for the following 5 houses:
   city  area  rooms  bathroom  parking spaces
0     1   240      3         3               4
1     0    64      2         1               1
2     1   443      5         5               4
3     1    73      2         2               1
4     1    19      1         1               0
The predictions are
[13395.5         1395.         12680.          3172.81818182
  1248.8       ]

In [100]:
from sklearn.metrics import mean_absolute_error

#Predict prices
predicted_home_prices = brazuca_model.predict(X)

#Show error
mean_absolute_error(y, predicted_home_prices)

1482.2656246423633

In [101]:
from sklearn.model_selection import train_test_split

train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)

#Define model
brazuca_model = DecisionTreeRegressor()

# Fit model
brazuca_model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = brazuca_model.predict(val_X)

#Show error
mean_absolute_error(val_y, val_predictions)

3839.1615808651572

In [102]:
from sklearn.metrics import mean_absolute_error
from sklearn.tree import DecisionTreeRegressor

def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  2706
Max leaf nodes: 50  		 Mean Absolute Error:  3390
Max leaf nodes: 500  		 Mean Absolute Error:  3628
Max leaf nodes: 5000  		 Mean Absolute Error:  3843

In [103]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
melb_preds = forest_model.predict(val_X)
print(mean_absolute_error(val_y, melb_preds))

3217.345851421067

/opt/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)